# Enable the rewrite engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /HomEase/
    
    # If the requested file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect all requests to the public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Set default character set
<IfModule mod_mime.c>
    AddDefaultCharset UTF-8
</IfModule>

# Disable directory listings
Options -Indexes

# Disable server signature
ServerSignature Off 